openapi: 3.0.0
info:
  version: 1.0.0
  title: ElePHPant.me API
  description: |
    A free, public JSON API for the PHP community.

servers:
  - url: https://www.elephpant.me/api
    description: Production
  - url: https://www.elephpantme.ddev.site
    description: Local ddev

security: []

tags:
  - name: Elephpants
  - name: Herds
  - name: Ranking
  - name: Countries

paths:
  /elephpants:
    get:
      tags:
        - ElePHPants
      summary: List all elephpants
      description: >
        Returns a paginated list of all elephpant species,
        ordered by year and name.
      parameters:
        - name: page
          in: query
          description: Page number.
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        "200":
          description: Paginated list of elephpants.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedElePHPants"

  /elephpants/{id}:
    get:
      tags:
        - ElePHPants
      summary: Get a single elePHPant
      parameters:
        - name: id
          in: path
          required: true
          description: elePHPant ID
          schema:
            type: integer
      responses:
        "200":
          description: elePHPant found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/elePHPant"
                required:
                  - data
        "404":
          description: elePHPant ID not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /herd/{username}:
    get:
      tags:
        - Herds
      summary: Get a user's herd
      description: Returns the full herd of a registered collector, including statistics and collected elePHPants.
      parameters:
        - name: username
          in: path
          required: true
          description: Collector username.
          schema:
            type: string
      responses:
        "200":
          description: Herd returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Herd"
        "403":
          description: User's herd is private.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Username not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /ranking:
    get:
      tags:
        - Ranking
      summary: List the top collectors
      description: >
        Returns public herds ranked by number of unique elePHPants, then by
        total elePHPants, then alphabetically by name. Optionally scoped to
        a single country. `rank` is the position in the full ordering (not
        page-relative), and `updated_at` is an exact timestamp, not a
        rendered relative string, so it stays accurate however long you hold
        onto the response.
      parameters:
        - name: country
          in: query
          description: ISO 3166-1 alpha-3 country code to filter the ranking by.
          required: false
          schema:
            type: string
            example: DNK
        - name: page
          in: query
          description: Page number.
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        "200":
          description: Ranking returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedRanking"

  /countries:
    get:
      tags:
        - Countries
      summary: List countries with public collectors
      description: >
        Returns every country that has at least one public herd, with its
        alpha-3 code, name and collector count, ordered by collector count
        descending then name ascending. Use this to discover which country
        codes are worth passing to /ranking or /herd/{username} lookups,
        instead of scraping the ranking page's country selector.
      responses:
        "200":
          description: Countries returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Countries"

components:
  schemas:
    elePHPant:
      type: object
      required:
        - id
        - name
        - description
        - sponsor
        - year
        - owners
        - copies
        - ownership_percentage
        - updated_at
        - url
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Original Blue
        description:
          type: string
          example: First Blue
        sponsor:
          type: string
          example: Nexen / Alter Way
        year:
          type: integer
          example: 2007
        image_url:
          nullable: true
          type: string
          format: uri
          example: https://www.elephpant.me/storage/elephpants/1-original-blue.jpg
        owners:
          type: integer
          description: The number of users that have at least one of this elePHPant in their herd
          example: 142
        copies:
          type: integer
          description: Every copy held across all herds, including spares (SUM of quantity, not distinct owners).
          example: 187
        ownership_percentage:
          type: number
          format: float
          description: >
            Percentage of all collectors (users with at least one elePHPant in their herd, public
            or private) who own at least one of this elePHPant. Rounded to 2 decimal places.
          example: 34.21
        updated_at:
          type: string
          format: date-time
          description: When this species' catalogue entry (name, description, image, etc.) last changed.
          example: "2026-08-14T09:32:00+00:00"
        url:
          type: string
          format: uri
          example: https://www.elephpant.me/api/elephpants/1

    HerdElePHPant:
      allOf:
        - $ref: "#/components/schemas/elePHPant"
        - type: object
          required:
            - quantity
          properties:
            quantity:
              type: integer
              example: 2

    HerdStats:
      type: object
      required:
        - total
        - unique
        - spare
      properties:
        total:
          type: integer
          example: 42
        unique:
          type: integer
          example: 30
        spare:
          type: integer
          example: 12

    Herd:
      type: object
      required:
        - username
        - name
        - avatar
        - country
        - herd_url
        - updated_at
        - stats
        - elephpants
      properties:
        username:
          type: string
          example: junior_grossi
        name:
          type: string
          example: Junior Grossi
        avatar:
          type: string
          format: uri
        country:
          type: string
          description: ISO 3166-1 alpha-3 country code
          example: BRA
        x_handle:
          nullable: true
          type: string
          example: junior_grossi
        mastodon:
          nullable: true
          type: string
          example: null
        bluesky:
          nullable: true
          type: string
          example: null
        herd_url:
          type: string
          format: uri
          example: https://www.elephpant.me/herd/junior_grossi
        updated_at:
          nullable: true
          type: string
          format: date-time
          description: When the collector last updated their herd (add, remove or change a quantity). Null if the herd is empty.
          example: "2026-08-14T09:32:00+00:00"
        stats:
          $ref: "#/components/schemas/HerdStats"
        elephpants:
          type: array
          items:
            $ref: "#/components/schemas/HerdElePHPant"

    RankedUser:
      type: object
      required:
        - rank
        - username
        - name
        - country
        - stats
        - updated_at
        - herd_url
      properties:
        rank:
          type: integer
          description: Position in the full ordering, not relative to the current page.
          example: 1
        username:
          type: string
          example: derickr
        name:
          type: string
          example: Derick
        country:
          nullable: true
          type: string
          description: ISO 3166-1 alpha-3 country code
          example: GBR
        stats:
          $ref: "#/components/schemas/HerdStats"
        updated_at:
          nullable: true
          type: string
          format: date-time
          description: When this collector last updated their herd. Null if the herd is empty.
          example: "2026-09-13T08:14:00Z"
        herd_url:
          type: string
          format: uri
          example: https://www.elephpant.me/herd/derickr

    PaginatedRanking:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/RankedUser"
        links:
          $ref: "#/components/schemas/PaginationLinks"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Country:
      type: object
      required:
        - code
        - name
        - collectors
      properties:
        code:
          type: string
          description: ISO 3166-1 alpha-3 country code
          example: DNK
        name:
          type: string
          example: Denmark
        collectors:
          type: integer
          description: Number of public herds registered in this country.
          example: 12

    Countries:
      type: object
      required:
        - countries
      properties:
        countries:
          type: array
          items:
            $ref: "#/components/schemas/Country"

    PaginationLinks:
      type: object
      required:
        - first
        - last
        - prev
        - next
      properties:
        first:
          type: string
          format: uri
        last:
          type: string
          format: uri
        prev:
          nullable: true
          type: string
          format: uri
        next:
          nullable: true
          type: string
          format: uri

    PaginationMeta:
      type: object
      required:
        - current_page
        - last_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 5
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 91

    PaginatedElePHPants:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/elePHPant"
        links:
          $ref: "#/components/schemas/PaginationLinks"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Error:
      type: object
      properties:
        message:
          type: string
          example: Resource not found
