// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~flag-icon-css/sass/flag-icon.scss';

body {
    background-color: #fcfcfc;
}

.herd-card {
    .list-group-item {
        border: 3px solid transparent;
        border-width: 0 0 0 3px;
        &.has-elephpants {
            border-color: $green;
        }
    }
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    .logo {
        width: 30px;
    }
}

.custom-pagination ul {
    @extend .pagination-lg;
}

.jumbotron {
    //@extend .py-5;
    .lead {
        margin-bottom: 0;
    }
}

.avatar-circle {
    width: 128px;
    height: 128px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    .initials {
        position: relative;
        top: 36px;
        font-size: 62.5px;
        line-height: 62.5px;
        color: #212529;
        font-family: "Courier New", monospace;
        font-weight: bold;
    }
}
