// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~flag-icon-css/sass/flag-icon.scss';

body {
    background-color: #fcfcfc;
}

.herd-card {
    .list-group-item {
        border: 3px solid transparent;
        border-width: 0 0 0 3px;
        &.has-elephpants {
            border-color: $green;
        }
    }
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    .logo {
        width: 30px;
    }
}

.custom-pagination ul {
    @extend .pagination-lg;
}

.jumbotron {
    //@extend .py-5;
    .lead {
        margin-bottom: 0;
    }
}

:root {
    --avatar-size: 150px;
    /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
    background-color: #ccc;
    border-radius: 50%;
    height: var(--avatar-size);
    text-align: center;
    width: var(--avatar-size);
}

.initials {
    font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avatar-size) / 4); /* 25% of parent */
}
