openapi: 3.0.3
info:
  title: 'ElePHPant.me API'
  description: 'A free, public JSON API for the PHP community.'
  version: 1.0.0
  license:
    name: MIT
    url: 'https://github.com/jgrossi/elephpant.me/blob/master/LICENSE'
servers:
  - url: 'https://www.elephpant.me'
tags:
  - name: Elephpants
    description: 'The elePHPant species catalogue.'
  - name: Herds
    description: "A single collector's herd of elePHPants."
paths:
  /api/elephpants:
    get:
      summary: 'List all elephpants'
      operationId: listAllElephpants
      description: 'Returns a paginated list of all elephpant species, ordered by year and name.'
      parameters:
        -
          in: query
          name: page
          description: 'Page number.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number.'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Original Blue'
                      description: 'First Blue'
                      sponsor: 'Nexen / Alter Way'
                      year: 2007
                      image_url: 'https://www.elephpant.me/storage/elephpants/1-original-blue.jpg'
                      owners: 2
                      url: 'https://www.elephpant.me/api/elephpants/1'
                    -
                      id: 5
                      name: Oracle
                      description: 'Oracle Blue'
                      sponsor: 'Oracle Corporation'
                      year: 2008
                      image_url: 'https://www.elephpant.me/storage/elephpants/5-oracle.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/5'
                    -
                      id: 6
                      name: 'Zend Blue'
                      description: 'ZendCon 2010'
                      sponsor: 'Zend Technologies'
                      year: 2010
                      image_url: 'https://www.elephpant.me/storage/elephpants/6-zend-blue.jpg'
                      owners: 2
                      url: 'https://www.elephpant.me/api/elephpants/6'
                    -
                      id: 2
                      name: 'Original Pink'
                      description: 'First Pink'
                      sponsor: 'Alter Way'
                      year: 2011
                      image_url: 'https://www.elephpant.me/storage/elephpants/2-original-pink.jpg'
                      owners: 2
                      url: 'https://www.elephpant.me/api/elephpants/2'
                    -
                      id: 13
                      name: 'Zend Framework'
                      description: 'Zend Green'
                      sponsor: 'Zend Technologies'
                      year: 2012
                      image_url: 'https://www.elephpant.me/storage/elephpants/13-zend-framework.jpg'
                      owners: 3
                      url: 'https://www.elephpant.me/api/elephpants/13'
                    -
                      id: 7
                      name: Chili
                      description: 'Zend Red, ZendCon 2013'
                      sponsor: 'Zend Technologies'
                      year: 2013
                      image_url: 'https://www.elephpant.me/storage/elephpants/7-chili.jpg'
                      owners: 0
                      url: 'https://www.elephpant.me/api/elephpants/7'
                    -
                      id: 14
                      name: Archie
                      description: 'php[architect]'
                      sponsor: 'php[architect]'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/14-archie.jpg'
                      owners: 2
                      url: 'https://www.elephpant.me/api/elephpants/14'
                    -
                      id: 18
                      name: Liona
                      description: Laravel
                      sponsor: 'Laravel Community'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/18-liona.jpg'
                      owners: 0
                      url: 'https://www.elephpant.me/api/elephpants/18'
                    -
                      id: 19
                      name: MurPHPy
                      description: AmsterdamPHP
                      sponsor: 'AmsterdamPHP Community'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/19-murphpy.jpg'
                      owners: 2
                      url: 'https://www.elephpant.me/api/elephpants/19'
                    -
                      id: 16
                      name: Sonny
                      description: 'Sunshine PHP Conference'
                      sponsor: 'Sunshine PHP, Zend Technologies'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/16-sonny.jpg'
                      owners: 0
                      url: 'https://www.elephpant.me/api/elephpants/16'
                    -
                      id: 15
                      name: Umoja
                      description: 'PHP Women'
                      sponsor: 'PHP Women'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/15-umoja.jpg'
                      owners: 2
                      url: 'https://www.elephpant.me/api/elephpants/15'
                    -
                      id: 8
                      name: Z-Ray
                      description: 'ZendCon 2014'
                      sponsor: 'Zend Technologies'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/8-z-ray.jpg'
                      owners: 0
                      url: 'https://www.elephpant.me/api/elephpants/8'
                    -
                      id: 3
                      name: Blue
                      description: 'OpenGoodies Blue'
                      sponsor: OpenGoodies
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/3-blue.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/3'
                    -
                      id: 37
                      name: Molly
                      description: 'PHP Woolly Mammoth'
                      sponsor: 'Peter Meth / Softer Software'
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/37-molly.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/37'
                    -
                      id: 51
                      name: 'PHPCon Grandpa'
                      description: 'PHPCon Poland 2015'
                      sponsor: 'PHP Conference Poland'
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/51-phpcon-grandpa.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/51'
                    -
                      id: 20
                      name: 'Phil Snow'
                      description: 'ConFoo Web Techno Conference'
                      sponsor: ConFoo
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/20-phil-snow.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/20'
                    -
                      id: 4
                      name: Pink
                      description: 'OpenGoodies Pink'
                      sponsor: OpenGoodies
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/4-pink.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/4'
                    -
                      id: 21
                      name: 'Symfony 10 Years'
                      description: 'Symfony Framework'
                      sponsor: 'Sensio Labs'
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/21-symfony-10-years.jpg'
                      owners: 0
                      url: 'https://www.elephpant.me/api/elephpants/21'
                    -
                      id: 9
                      name: 'Zend PHP7'
                      description: 'ZendCon 2015'
                      sponsor: 'Zend Technologies'
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/9-zend-php7.jpg'
                      owners: 1
                      url: 'https://www.elephpant.me/api/elephpants/9'
                    -
                      id: 38
                      name: pHackyderm
                      description: HHVM
                      sponsor: Facebook
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/38-phackyderm.jpg'
                      owners: 0
                      url: 'https://www.elephpant.me/api/elephpants/38'
                  links:
                    first: 'https://www.elephpant.me/api/elephpants?page=1'
                    last: 'https://www.elephpant.me/api/elephpants?page=5'
                    prev: null
                    next: 'https://www.elephpant.me/api/elephpants?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 5
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        page: null
                        active: false
                      -
                        url: 'https://www.elephpant.me/api/elephpants?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: 'https://www.elephpant.me/api/elephpants?page=2'
                        label: '2'
                        page: 2
                        active: false
                      -
                        url: 'https://www.elephpant.me/api/elephpants?page=3'
                        label: '3'
                        page: 3
                        active: false
                      -
                        url: 'https://www.elephpant.me/api/elephpants?page=4'
                        label: '4'
                        page: 4
                        active: false
                      -
                        url: 'https://www.elephpant.me/api/elephpants?page=5'
                        label: '5'
                        page: 5
                        active: false
                      -
                        url: 'https://www.elephpant.me/api/elephpants?page=2'
                        label: 'Next &raquo;'
                        page: 2
                        active: false
                    path: 'https://www.elephpant.me/api/elephpants'
                    per_page: 20
                    to: 20
                    total: 89
                properties:
                  data:
                    type: array
                    example:
                      - id: 1
                        name: 'Original Blue'
                        description: 'First Blue'
                        sponsor: 'Nexen / Alter Way'
                        year: 2007
                        image_url: 'https://www.elephpant.me/storage/elephpants/1-original-blue.jpg'
                        owners: 2
                        url: 'https://www.elephpant.me/api/elephpants/1'
                      - id: 5
                        name: Oracle
                        description: 'Oracle Blue'
                        sponsor: 'Oracle Corporation'
                        year: 2008
                        image_url: 'https://www.elephpant.me/storage/elephpants/5-oracle.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/5'
                      - id: 6
                        name: 'Zend Blue'
                        description: 'ZendCon 2010'
                        sponsor: 'Zend Technologies'
                        year: 2010
                        image_url: 'https://www.elephpant.me/storage/elephpants/6-zend-blue.jpg'
                        owners: 2
                        url: 'https://www.elephpant.me/api/elephpants/6'
                      - id: 2
                        name: 'Original Pink'
                        description: 'First Pink'
                        sponsor: 'Alter Way'
                        year: 2011
                        image_url: 'https://www.elephpant.me/storage/elephpants/2-original-pink.jpg'
                        owners: 2
                        url: 'https://www.elephpant.me/api/elephpants/2'
                      - id: 13
                        name: 'Zend Framework'
                        description: 'Zend Green'
                        sponsor: 'Zend Technologies'
                        year: 2012
                        image_url: 'https://www.elephpant.me/storage/elephpants/13-zend-framework.jpg'
                        owners: 3
                        url: 'https://www.elephpant.me/api/elephpants/13'
                      - id: 7
                        name: Chili
                        description: 'Zend Red, ZendCon 2013'
                        sponsor: 'Zend Technologies'
                        year: 2013
                        image_url: 'https://www.elephpant.me/storage/elephpants/7-chili.jpg'
                        owners: 0
                        url: 'https://www.elephpant.me/api/elephpants/7'
                      - id: 14
                        name: Archie
                        description: 'php[architect]'
                        sponsor: 'php[architect]'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/14-archie.jpg'
                        owners: 2
                        url: 'https://www.elephpant.me/api/elephpants/14'
                      - id: 18
                        name: Liona
                        description: Laravel
                        sponsor: 'Laravel Community'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/18-liona.jpg'
                        owners: 0
                        url: 'https://www.elephpant.me/api/elephpants/18'
                      - id: 19
                        name: MurPHPy
                        description: AmsterdamPHP
                        sponsor: 'AmsterdamPHP Community'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/19-murphpy.jpg'
                        owners: 2
                        url: 'https://www.elephpant.me/api/elephpants/19'
                      - id: 16
                        name: Sonny
                        description: 'Sunshine PHP Conference'
                        sponsor: 'Sunshine PHP, Zend Technologies'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/16-sonny.jpg'
                        owners: 0
                        url: 'https://www.elephpant.me/api/elephpants/16'
                      - id: 15
                        name: Umoja
                        description: 'PHP Women'
                        sponsor: 'PHP Women'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/15-umoja.jpg'
                        owners: 2
                        url: 'https://www.elephpant.me/api/elephpants/15'
                      - id: 8
                        name: Z-Ray
                        description: 'ZendCon 2014'
                        sponsor: 'Zend Technologies'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/8-z-ray.jpg'
                        owners: 0
                        url: 'https://www.elephpant.me/api/elephpants/8'
                      - id: 3
                        name: Blue
                        description: 'OpenGoodies Blue'
                        sponsor: OpenGoodies
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/3-blue.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/3'
                      - id: 37
                        name: Molly
                        description: 'PHP Woolly Mammoth'
                        sponsor: 'Peter Meth / Softer Software'
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/37-molly.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/37'
                      - id: 51
                        name: 'PHPCon Grandpa'
                        description: 'PHPCon Poland 2015'
                        sponsor: 'PHP Conference Poland'
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/51-phpcon-grandpa.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/51'
                      - id: 20
                        name: 'Phil Snow'
                        description: 'ConFoo Web Techno Conference'
                        sponsor: ConFoo
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/20-phil-snow.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/20'
                      - id: 4
                        name: Pink
                        description: 'OpenGoodies Pink'
                        sponsor: OpenGoodies
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/4-pink.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/4'
                      - id: 21
                        name: 'Symfony 10 Years'
                        description: 'Symfony Framework'
                        sponsor: 'Sensio Labs'
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/21-symfony-10-years.jpg'
                        owners: 0
                        url: 'https://www.elephpant.me/api/elephpants/21'
                      - id: 9
                        name: 'Zend PHP7'
                        description: 'ZendCon 2015'
                        sponsor: 'Zend Technologies'
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/9-zend-php7.jpg'
                        owners: 1
                        url: 'https://www.elephpant.me/api/elephpants/9'
                      - id: 38
                        name: pHackyderm
                        description: HHVM
                        sponsor: Facebook
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/38-phackyderm.jpg'
                        owners: 0
                        url: 'https://www.elephpant.me/api/elephpants/38'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Original Blue'
                        description:
                          type: string
                          example: 'First Blue'
                        sponsor:
                          type: string
                          example: 'Nexen / Alter Way'
                        year:
                          type: integer
                          example: 2007
                        image_url:
                          type: string
                          example: 'https://www.elephpant.me/storage/elephpants/1-original-blue.jpg'
                        owners:
                          type: integer
                          example: 2
                        url:
                          type: string
                          example: 'https://www.elephpant.me/api/elephpants/1'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://www.elephpant.me/api/elephpants?page=1'
                      last:
                        type: string
                        example: 'https://www.elephpant.me/api/elephpants?page=5'
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: 'https://www.elephpant.me/api/elephpants?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 5
                      links:
                        type: array
                        example:
                          - url: null
                            label: '&laquo; Previous'
                            page: null
                            active: false
                          - url: 'https://www.elephpant.me/api/elephpants?page=1'
                            label: '1'
                            page: 1
                            active: true
                          - url: 'https://www.elephpant.me/api/elephpants?page=2'
                            label: '2'
                            page: 2
                            active: false
                          - url: 'https://www.elephpant.me/api/elephpants?page=3'
                            label: '3'
                            page: 3
                            active: false
                          - url: 'https://www.elephpant.me/api/elephpants?page=4'
                            label: '4'
                            page: 4
                            active: false
                          - url: 'https://www.elephpant.me/api/elephpants?page=5'
                            label: '5'
                            page: 5
                            active: false
                          - url: 'https://www.elephpant.me/api/elephpants?page=2'
                            label: 'Next &raquo;'
                            page: 2
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                              nullable: true
                            label:
                              type: string
                              example: '&laquo; Previous'
                            page:
                              type: string
                              example: null
                              nullable: true
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://www.elephpant.me/api/elephpants'
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 20
                      total:
                        type: integer
                        example: 89
      tags:
        - Elephpants
      security: []
  '/api/elephpants/{id}':
    get:
      summary: 'Get a single elePHPant'
      operationId: getASingleElePHPant
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: 'Original Blue'
                    description: 'First Blue'
                    sponsor: 'Nexen / Alter Way'
                    year: 2007
                    image_url: 'https://www.elephpant.me/storage/elephpants/1-original-blue.jpg'
                    owners: 2
                    url: 'https://www.elephpant.me/api/elephpants/1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Original Blue'
                      description:
                        type: string
                        example: 'First Blue'
                      sponsor:
                        type: string
                        example: 'Nexen / Alter Way'
                      year:
                        type: integer
                        example: 2007
                      image_url:
                        type: string
                        example: 'https://www.elephpant.me/storage/elephpants/1-original-blue.jpg'
                      owners:
                        type: integer
                        example: 2
                      url:
                        type: string
                        example: 'https://www.elephpant.me/api/elephpants/1'
      tags:
        - Elephpants
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'elePHPant ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/herd/{username}':
    get:
      summary: "Get a collector's herd"
      operationId: getACollectorsHerd
      description: 'Returns the full herd of a registered collector, including statistics and collected elePHPants. 403s if the herd is private.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  username: john
                  name: 'John Doe'
                  avatar: 'https://api.microlink.io/?url=https://twitter.com/john&embed=image.url'
                  country: USA
                  x_handle: john
                  mastodon: '@john@elephpant.me'
                  bluesky: '@john.bsky.social'
                  herd_url: 'https://www.elephpant.me/herd/john'
                  stats:
                    total: 44
                    unique: 15
                    spare: 29
                  elephpants:
                    -
                      id: 6
                      name: 'Zend Blue'
                      description: 'ZendCon 2010'
                      sponsor: 'Zend Technologies'
                      year: 2010
                      image_url: 'https://www.elephpant.me/storage/elephpants/6-zend-blue.jpg'
                      quantity: 4
                    -
                      id: 2
                      name: 'Original Pink'
                      description: 'First Pink'
                      sponsor: 'Alter Way'
                      year: 2011
                      image_url: 'https://www.elephpant.me/storage/elephpants/2-original-pink.jpg'
                      quantity: 3
                    -
                      id: 13
                      name: 'Zend Framework'
                      description: 'Zend Green'
                      sponsor: 'Zend Technologies'
                      year: 2012
                      image_url: 'https://www.elephpant.me/storage/elephpants/13-zend-framework.jpg'
                      quantity: 4
                    -
                      id: 14
                      name: Archie
                      description: 'php[architect]'
                      sponsor: 'php[architect]'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/14-archie.jpg'
                      quantity: 2
                    -
                      id: 19
                      name: MurPHPy
                      description: AmsterdamPHP
                      sponsor: 'AmsterdamPHP Community'
                      year: 2014
                      image_url: 'https://www.elephpant.me/storage/elephpants/19-murphpy.jpg'
                      quantity: 4
                    -
                      id: 4
                      name: Pink
                      description: 'OpenGoodies Pink'
                      sponsor: OpenGoodies
                      year: 2015
                      image_url: 'https://www.elephpant.me/storage/elephpants/4-pink.jpg'
                      quantity: 2
                    -
                      id: 12
                      name: Zoe
                      description: 'ZendCon 2018'
                      sponsor: 'Rogue Wave Software'
                      year: 2018
                      image_url: 'https://www.elephpant.me/storage/elephpants/12-zoe.jpg'
                      quantity: 2
                    -
                      id: 33
                      name: Jorvik
                      description: 'PHP Yorkshire'
                      sponsor: 'PHP Yorkshire Conference'
                      year: 2018
                      image_url: 'https://www.elephpant.me/storage/elephpants/33-jorvik.jpg'
                      quantity: 4
                    -
                      id: 58
                      name: Aida
                      description: 'phpday conference mascotte'
                      sponsor: GrUSP
                      year: 2020
                      image_url: 'https://www.elephpant.me/storage/elephpants/58-aida.jpg'
                      quantity: 3
                    -
                      id: 60
                      name: InPHPinity
                      description: 'PHP8 ElePHPant'
                      sponsor: '@faguo & @Elroubio'
                      year: 2020
                      image_url: 'https://www.elephpant.me/storage/elephpants/60-inphpinity.jpg'
                      quantity: 2
                    -
                      id: 75
                      name: 'PHPClasses Pink'
                      description: PHPClasses
                      sponsor: PHPClasses
                      year: 2020
                      image_url: 'https://www.elephpant.me/storage/elephpants/75-phpclasses-pink.jpg'
                      quantity: 2
                    -
                      id: 76
                      name: Flexy
                      description: Dyflexis
                      sponsor: Dyflexis
                      year: 2023
                      image_url: 'https://www.elephpant.me/storage/elephpants/76-flexy.jpg'
                      quantity: 4
                    -
                      id: 79
                      name: Ploi
                      description: Ploi
                      sponsor: Ploi
                      year: 2024
                      image_url: 'https://www.elephpant.me/storage/elephpants/79-ploi.jpg'
                      quantity: 2
                    -
                      id: 87
                      name: 'Eric the Red'
                      description: laraveldk.org
                      sponsor: 'Laravel Denmark'
                      year: 2026
                      image_url: 'https://www.elephpant.me/storage/elephpants/87-eric-the-red.jpg'
                      quantity: 4
                    -
                      id: 89
                      name: 'Sentaur (2nd Edition)'
                      description: sentry.io
                      sponsor: Sentry
                      year: 2026
                      image_url: 'https://www.elephpant.me/storage/elephpants/89-sentaur-2nd-edition.jpg'
                      quantity: 2
                properties:
                  username:
                    type: string
                    example: john
                  name:
                    type: string
                    example: 'John Doe'
                  avatar:
                    type: string
                    example: 'https://api.microlink.io/?url=https://twitter.com/john&embed=image.url'
                  country:
                    type: string
                    example: USA
                    description: 'ISO 3166-1 alpha-3 country code.'
                  x_handle:
                    type: string
                    example: john
                  mastodon:
                    type: string
                    example: '@john@elephpant.me'
                  bluesky:
                    type: string
                    example: '@john.bsky.social'
                  herd_url:
                    type: string
                    example: 'https://www.elephpant.me/herd/john'
                  stats:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 44
                        description: 'Total elePHPants held, including spares.'
                      unique:
                        type: integer
                        example: 15
                        description: 'Distinct elePHPant species held.'
                      spare:
                        type: integer
                        example: 29
                        description: 'Extra copies beyond one of each species held (total - unique).'
                    required:
                      - total
                      - unique
                      - spare
                  elephpants:
                    type: array
                    example:
                      - id: 6
                        name: 'Zend Blue'
                        description: 'ZendCon 2010'
                        sponsor: 'Zend Technologies'
                        year: 2010
                        image_url: 'https://www.elephpant.me/storage/elephpants/6-zend-blue.jpg'
                        quantity: 4
                      - id: 2
                        name: 'Original Pink'
                        description: 'First Pink'
                        sponsor: 'Alter Way'
                        year: 2011
                        image_url: 'https://www.elephpant.me/storage/elephpants/2-original-pink.jpg'
                        quantity: 3
                      - id: 13
                        name: 'Zend Framework'
                        description: 'Zend Green'
                        sponsor: 'Zend Technologies'
                        year: 2012
                        image_url: 'https://www.elephpant.me/storage/elephpants/13-zend-framework.jpg'
                        quantity: 4
                      - id: 14
                        name: Archie
                        description: 'php[architect]'
                        sponsor: 'php[architect]'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/14-archie.jpg'
                        quantity: 2
                      - id: 19
                        name: MurPHPy
                        description: AmsterdamPHP
                        sponsor: 'AmsterdamPHP Community'
                        year: 2014
                        image_url: 'https://www.elephpant.me/storage/elephpants/19-murphpy.jpg'
                        quantity: 4
                      - id: 4
                        name: Pink
                        description: 'OpenGoodies Pink'
                        sponsor: OpenGoodies
                        year: 2015
                        image_url: 'https://www.elephpant.me/storage/elephpants/4-pink.jpg'
                        quantity: 2
                      - id: 12
                        name: Zoe
                        description: 'ZendCon 2018'
                        sponsor: 'Rogue Wave Software'
                        year: 2018
                        image_url: 'https://www.elephpant.me/storage/elephpants/12-zoe.jpg'
                        quantity: 2
                      - id: 33
                        name: Jorvik
                        description: 'PHP Yorkshire'
                        sponsor: 'PHP Yorkshire Conference'
                        year: 2018
                        image_url: 'https://www.elephpant.me/storage/elephpants/33-jorvik.jpg'
                        quantity: 4
                      - id: 58
                        name: Aida
                        description: 'phpday conference mascotte'
                        sponsor: GrUSP
                        year: 2020
                        image_url: 'https://www.elephpant.me/storage/elephpants/58-aida.jpg'
                        quantity: 3
                      - id: 60
                        name: InPHPinity
                        description: 'PHP8 ElePHPant'
                        sponsor: '@faguo & @Elroubio'
                        year: 2020
                        image_url: 'https://www.elephpant.me/storage/elephpants/60-inphpinity.jpg'
                        quantity: 2
                      - id: 75
                        name: 'PHPClasses Pink'
                        description: PHPClasses
                        sponsor: PHPClasses
                        year: 2020
                        image_url: 'https://www.elephpant.me/storage/elephpants/75-phpclasses-pink.jpg'
                        quantity: 2
                      - id: 76
                        name: Flexy
                        description: Dyflexis
                        sponsor: Dyflexis
                        year: 2023
                        image_url: 'https://www.elephpant.me/storage/elephpants/76-flexy.jpg'
                        quantity: 4
                      - id: 79
                        name: Ploi
                        description: Ploi
                        sponsor: Ploi
                        year: 2024
                        image_url: 'https://www.elephpant.me/storage/elephpants/79-ploi.jpg'
                        quantity: 2
                      - id: 87
                        name: 'Eric the Red'
                        description: laraveldk.org
                        sponsor: 'Laravel Denmark'
                        year: 2026
                        image_url: 'https://www.elephpant.me/storage/elephpants/87-eric-the-red.jpg'
                        quantity: 4
                      - id: 89
                        name: 'Sentaur (2nd Edition)'
                        description: sentry.io
                        sponsor: Sentry
                        year: 2026
                        image_url: 'https://www.elephpant.me/storage/elephpants/89-sentaur-2nd-edition.jpg'
                        quantity: 2
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 6
                        name:
                          type: string
                          example: 'Zend Blue'
                        description:
                          type: string
                          example: 'ZendCon 2010'
                        sponsor:
                          type: string
                          example: 'Zend Technologies'
                        year:
                          type: integer
                          example: 2010
                        image_url:
                          type: string
                          example: 'https://www.elephpant.me/storage/elephpants/6-zend-blue.jpg'
                        quantity:
                          type: integer
                          example: 4
                required:
                  - country
      tags:
        - Herds
      security: []
    parameters:
      -
        in: path
        name: username
        description: 'Collector username.'
        example: john
        required: true
        schema:
          type: string
